<p id="notice"><%= notice %></p>

<h1>Qls</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @qls.each do |ql| %>
      <tr>
        <td><%= ql.title %></td>
        <td><%= ql.content %></td>
        <td><%= link_to 'Show', ql %></td>
        <td><%= link_to 'Edit', edit_ql_path(ql) %></td>
        <td><%= link_to 'Destroy', ql, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ql', new_ql_path %>
